.BlueButton {
  background-image: linear-gradient(352deg, #05004d 0%, #2c0061 70%) !important;
  background-color: #00000000 !important;
  border: 1px solid #05004d !important;
}

.BlueButton .ButtonBottomBorder {
  background-color: #00000000 !important;
}

.BlueButton .ButtonTopBorder {
  background-color: #00000000 !important;
}

.RedButton {
  background-image: linear-gradient(352deg, #380000 0%, #000000 70%) !important;
  background-color: #00000000 !important;
  border: 1px solid #380000 !important;
}

.NewButton {
  background-image: linear-gradient(352deg, #006607 0%, #000000 70%);
  background-color: #00000000 !important;
  border: 1px solid #006607;
}

.CreatePartyButton, .JoinPartyAction .JoinPartyButton {
  background-image: linear-gradient(352deg, #5200a3 0%, #0d0d0dbf 70%) !important;
  background-color: #00000000 !important;
  border: 1px solid #5200a3 !important;
}

.HomePageActionBar .ActionShortcutBar .GetSuperRankButton {
  background-image: linear-gradient(352deg, #00b8ab 0%, #4e00c2 60%) !important;
  background-color: #00000000 !important;
  border: 1px solid #00b8ab !important;
}